<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>黄金书屋充值中心</title>

<link rel="stylesheet" type="text/css" href="/book/css/amazeui.min.css" />
<link rel="stylesheet" type="text/css" href="/book/css/mainui.css" />
	<link rel="stylesheet" href="/book/css/child/read.css">
	<link rel="stylesheet" href="/book/css/indexcss/bottom.css">

	<script src="/book/js/login/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script src="/book/js/login/jquery.step.js"></script>
	<script src="/book/js/login/bootstrap.min.js" type="text/javascript"></script>
	<script src="/book/js/login/bootsnav.js" type="text/javascript"></script>

	<script src="/book/js/login/jquery.js" type="text/javascript"></script>
</head>
<body>

<div class="head">
	<div>
		<a href="/book/index">
			<li>首页</li>
		</a>
		<li>|</li>
		<a th:href="@{'/chargeMoney?uid='+${session.uid}}">
			<li>充值中心</li>
		</a>
		<li>|</li>
		<a th:href="@{'/selfInfo?uid='+${session.uid}+'&page=1'}">
			<li>个人中心</li>
		</a>
		<li>|</li>
		<a th:href="@{'/pay/orderInfo?uid='+${session.uid}}">
			<li>订单中心</li>
		</a>
	</div>
	<div class="login" th:insert="public::login"></div>
	<div>
		<a href="/book/index" ><img src="/book/images/logo4.gif" alt="" style="margin-top: -18px"></a>
	</div>


</div>

<div class="pay">
	<!--主内容开始编辑-->
	<div class="tr_recharge">
		<div class="tr_rechtext">
			<p class="te_retit"><img src="/book/images/coin.png" alt="" />充值中心</p>
			<p id="order_name">1.黄金书币，用来黄金书屋购买的小说中的虚拟物品；不可交易。</p>
			<p>2.黄金书币与人民币换算为1：10，即1元=10个黄金书币，目前只支持支付宝充值，黄金书币每次100个起充。</p>
		</div>
		<form action="" class="am-form" id="doc-vld-msg">
			<div class="tr_rechbox">
				<div class="tr_rechhead">
					<input id="order_user" th:value="${session.uid}" type="hidden">
					<img src="/book/images/myself.png" />
					<p>充值帐号：
						<a th:text="${userInfo.getUsername()}" id="username"></a>
					</p>
					<div class="tr_rechheadcion">
						<img src="/book/images/coin.png" alt="" />
						<span>当前余额：<span th:text="${myMoney}+'黄金书币'"></span></span>
					</div>
				</div>
				<div class="tr_rechli am-form-group">
					<ul class="ui-choose am-form-group" id="uc_01">
						<li>
							<label class="am-radio-inline">
									<input type="radio"  value="" name="docVlGender" required data-validation-message="请选择一项充值额度"> 10￥
								</label>
						</li>
						<li>
							<label class="am-radio-inline">
									<input type="radio" name="docVlGender" data-validation-message="请选择一项充值额度"> 20￥
								</label>
						</li>

						<li>
							<label class="am-radio-inline">
									<input type="radio" name="docVlGender" data-validation-message="请选择一项充值额度"> 50￥
								</label>
						</li>
						<li>
							<label class="am-radio-inline">
									<input type="radio" name="docVlGender" data-validation-message="请选择一项充值额度"> 其他金额
								</label>
						</li>
					</ul>
					<!--<span>1招兵币=1元 10元起充</span>-->
				</div>
				<div class="tr_rechoth am-form-group">
					<span>其他金额：</span>
					<input type="number" min="10" max="10000" value="10.00元" class="othbox" data-validation-message="充值金额范围：10-10000元" />
					<!--<p>充值金额范围：10-10000元</p>-->
				</div>
<!--				<div class="tr_rechcho am-form-group">-->
<!--					<span>充值方式：</span>-->
<!--					<label class="am-radio">-->
<!--							<input type="radio" name="radio1" value="" data-am-ucheck required data-validation-message="请选择一种充值方式"><img src="images/wechatpay.png">-->
<!--						</label>-->
<!--					<label class="am-radio" style="margin-right:30px;">-->
<!--							<input type="radio" name="radio1" value="" data-am-ucheck data-validation-message="请选择一种充值方式"><img src="images/zfbpay.png">-->
<!--						</label>-->
<!--				</div>-->
				<div class="tr_rechnum">
					<span>应付金额：</span>
					<p class="rechnum" id="order_price">0.00元</p>
				</div>
			</div>
			<div class="tr_paybox">

				<a href="javascript:void(0)" class="tr_pay am-btn" id="tijiao">创建订单</a>
				<span>温馨提示：招兵币只限于在简历详情中购买简历，遇到问题请拨打联系电话。</span>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript" src="/book/js/jquery.min.js"></script>
<script type="text/javascript" src="/book/js/amazeui.min.js"></script>
<script type="text/javascript" src="/book/js/ui-choose.js"></script>
<script type="text/javascript">
	// 将所有.ui-choose实例化
	$('.ui-choose').ui_choose();
	// uc_01 ul 单选
	var uc_01 = $('#uc_01').data('ui-choose'); // 取回已实例化的对象
	uc_01.click = function(index, item) {
		console.log('click', index, item.text())
	}
	uc_01.change = function(index, item) {
		console.log('change', index, item.text())
	}
	$(function() {
		$('#uc_01 li:eq(3)').click(function() {
			$('.tr_rechoth').show();
			$('.tr_rechoth').find("input").attr('required', 'true')
			$('.rechnum').text('10.00元');
		})
		$('#uc_01 li:eq(0)').click(function() {
			$('.tr_rechoth').hide();
			$('.rechnum').text('10.00元');
			$('.othbox').val('');
		})
		$('#uc_01 li:eq(1)').click(function() {
			$('.tr_rechoth').hide();
			$('.rechnum').text('20.00元');
			$('.othbox').val('');
		})
		$('#uc_01 li:eq(2)').click(function() {
			$('.tr_rechoth').hide();
			$('.rechnum').text('50.00元');
			$('.othbox').val('');
		})
		$(document).ready(function() {
			$('.othbox').on('input propertychange', function() {
				var num = $(this).val();
				$('.rechnum').html(num + ".00元");
			});
		});
	})

	$(function() {
		$('#doc-vld-msg').validator({
			onValid: function(validity) {
				$(validity.field).closest('.am-form-group').find('.am-alert').hide();
			},
			onInValid: function(validity) {
				var $field = $(validity.field);
				var $group = $field.closest('.am-form-group');
				var $alert = $group.find('.am-alert');
				// 使用自定义的提示信息 或 插件内置的提示信息
				var msg = $field.data('validationMessage') || this.getValidationMessage(validity);

				if(!$alert.length) {
					$alert = $('<div class="am-alert am-alert-danger"></div>').hide().
					appendTo($group);
				}
				$alert.html(msg).show();
			}
		});
	});
</script>
<div style="text-align:center;">
</div>

<script type="text/javascript">
	$('#tijiao').click(function(){
		var username = document.getElementById("username").innerText;
		var order_user=document.getElementById("order_user").value;
		var order_name=document.getElementById("order_name").innerText;
		var order_price=document.getElementById("order_price").innerText;
		$.ajax({
			// async : false,
			url:'/book/alipay/createOrder',//地址
			dataType:'text',//数据类型
			type:'POST',//类型
			data:{
				username:username,
				order_user:order_user,
				order_name:order_name,
				order_price:order_price
			},
			success:function(data){
				alert("订单创建成功，请在订单中心查看");
			},
			//失败/超时
			error:function(XMLHttpRequest,textStatus,errorThrown){
				if(textStatus==='timeout'){
					alert('請求超時');
					setTimeout(function(){
						alert('重新请求');
					},2000);
				}
			}
		})
	});


</script>



<!--$.ajax({-->
<!--async: false,-->
<!--url: '/book/alipay/gopay',//地址-->
<!--dataType: 'text',//数据类型-->
<!--type: 'POST',//类型-->
<!--data: {-->
<!--WIDout_trade_no:data,-->
<!--WIDtotal_amount:total,-->
<!--WIDsubject:"黄金书币充值"-->
<!--},-->
<!--success:function(ok){-->
<!--alert("支付成功");-->
<!--$(document.body).html(ok);-->
<!--}-->
<!--})-->
</body>
</html>