<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head>

<title>黄金书屋</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<link rel="stylesheet" href="/book/css/font-awesome.min2.css" media="all" />

<!-- Style --> <link rel="stylesheet" href="/book/css/style2.css" type="text/css" media="all">

<!-- Fonts -->
<link href="http://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>

	<h1>章节 <span>购买</span> 失败</h1>
	<div class="w3layout-agileits">

	<h3>您的余额不足</h3>
		<a href="/book/index"><i class="fa fa-angle-double-left" aria-hidden="true"></i>返回首页</a>
		<a th:href="@{'/chargeMoney'+'?uid='+${session.uid}}" target="_blank"><i class="fa fa-angle-double-left" aria-hidden="true"></i>点击充值</a>
	</div>

	<div class="w3footeragile">
	</div>

</body>
<!-- //Body -->

</html>