<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/book/css/child/read.css">
    <link rel="stylesheet" href="/book/css/indexcss/bottom.css">
    <title th:text="${bookInfo.getBname()}"></title>
</head>

<body>
    <div class="head">
        <div>
            <a th:href="@{/index}">
                <li>首页</li>
            </a>
            <li>|</li>
            <a th:href="@{'/chargeMoney?uid='+${session.uid}}">
                <li>充值中心</li>
            </a>


        </div>
        <div class="login" th:insert="public::login"></div>
        <div>
            <a href="/book/index"><img src="/book/images/logo4.gif" alt=""></a>
        </div>


    </div>
    <div class="center">
        <div class="bookname">
            <div>
                <a href="#">
                    <b th:text="${bookInfo.getBname()}"></b>
                </a>

                <i th:text="${bookInfo.getState()}"></i><i>|</i>
            </div>
            <div>

            </div>
        </div>
        <hr>
        <div class="nav">
            <div class="navleft">
                <a href="#">
                    <li>简介</li>
                </a>
                <li>|</li>
                <a href="">
                    <li>
                        <a href="#center">目录</a>
                    </li>
                </a>
                <li>|</li>
            </div>
        </div>
        <div class="book">
            <div class="bookleft">
                <img th:src="'/book'+${bookInfo.getImg()}" alt="">
            </div>
            <div class="bookright">
                <h1 th:text="${bookInfo.getBname()}"></h1>
                <a href="#" th:text="${bookInfo.getAuthor()}+'-著'">天蚕土豆-著</a>
                <p><span>
                        <i th:text="${bookInfo.getType()}">穿越玄幻</i>
                        <i th:text="${bookInfo.getState()}">已完结</i>
                    </span></p>
                <p th:text="'点击量：'+${viewCount}"></p>
                <p id="briefing" th:text="${bookInfo.getDescription()}">《斗破苍穹》是一本连载于起点中文网的古装玄幻小说，作者是起点白金作家天蚕土豆（李虎），已完结。这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！ 心潮澎湃，无限幻想，迎风挥击千层浪，少年不败热血！ 新书等级制度：斗之气，斗者，斗师，大斗师，斗灵，斗王，斗皇，斗宗，斗尊，斗圣，斗帝。
                </p>
                <form th:action="@{'/read/'+${msg}}" method="post">
                    <input name="uid" type="hidden" th:value="${session.uid}">
                    <input name="bid" type="hidden" th:value="${bookInfo.getId()}">
                    <input name="bookName" type="hidden" th:value="${bookInfo.getBname()}">
                <p class="read">
                    <a th:href="@{'/content?id='+${bookInfo.getId()}+'&tid=1'+'&uid='+${session.uid}}">免费试读</a>
                    <button th:href="@{'/read?id='+${bookInfo.getId()}+'&uid='+${session.uid}}" th:text="${confirm}" th:if="${not #strings.isEmpty(confirm)}"></button>
                    <button th:href="@{'/read?id='+${bookInfo.getId()}+'&uid='+${session.uid}}" th:text="${cancel}" th:if="${not #strings.isEmpty(cancel)}"></button>

                </p>
                </form>
            </div>

        </div>
    </div>
    <div class="center" id="center">
<!--        循环目录章节-->

        <ul class="section">
            <li th:each="bookItem:${bookContentItem}">
                <img src="/book/images/mian.jpg" style="width: 20px" height="20px"th:if="${bookItem.getPrice()==0}">
                <img src="/book/images/suo.png" style="width: 20px" height="20px"th:if="${bookItem.getPrice()>0}">
                <a th:href="@{'/content?id='+${bookItem.getBook_id()}+'&tid='+${bookItem.getTid()}+'&uid='+${session.uid}}" th:text="${bookItem.getTitle()}"></a>
            </li>


        </ul>
    </div>
    <div id="unfold">
        展开更多
    </div>

    <!--button部分-->
    <div class="bottom">
        <div class="bottom_se">
            <div>
                <p>没有找到？试试这里</p>
            </div>
            <div>
                <select name="" id="">
                    <option value="volvo">玄幻</option>
                    <option value="saab">武侠</option>
                    <option value="opel">探案</option>
                    <option value="audi">恐怖</option>
                </select>
                <select name="" id="">
                    <option value="volvo">连载</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
                <select name="" id="">
                    <option value="volvo">免费</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
                <select name="" id="">
                    <option value="volvo">两百万以上</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
                <select name="" id="">
                    <option value="volvo">全部</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
                <input type="submit" value="查找">
            </div>
            <div>
                热门搜索：
                <a href="#">魔道祖师</a>
                <a href="#">斗破</a>
                <a href="#">迪迦</a>
                <a href="#">盗墓笔记</a>
                <a href="#">陈情令</a>
            </div>
        </div>
        <div class="hint">
            <div>
                <p>湖南网警提示：网络刷单是违法 切莫轻信有返利，网上交友套路多 卖惨要钱需当心，电子红包莫轻点 个人信息勿填写， 仿冒客服来行骗 官方核实最重要，招工诈骗有套路 预交费用需谨慎，低价充值莫轻信 莫因游戏陷套路，连接WIFI要规范 确认安全再连接，抢购车票有章法 确认订单再付款， 白条赊购慎使用 提升额度莫轻信，网购预付有风险 正规渠道很重要 如网民接到962110电话， 请立即接听。
                </p>
            </div>
            <div>
                <p>湖南黄金书屋公司</p>
                <p>联系方式: 1912504939@qq.com</p>
                <p>电话15074850577</p>

            </div>
            <div>

            </div>
        </div>
        <div class="cop">
            <img src="/book/images/彼岸/136126fa5b24d51f7ef99b6b73d55fce.jpg" alt="">
            <img src="/book/images/彼岸/中国上海城市夜景4K壁纸_彼岸图网.jpg" alt="">
            <img src="/book/images/彼岸/云梦.jpg" alt="">
            <img src="/book/images/彼岸/倒计时.jpg" alt="">
            <img src="/book/images/彼岸/元宵节放天灯壁纸_彼岸图网.jpg" alt="">
            <img src="/book/images/彼岸/少女 星沉 大海 星尘 二次元动漫3440x1440壁纸_彼岸图网.jpg" alt="">

            <div>
                <form action="#">
                    <input type="text"><input type="submit" value="搜索">
                </form>
            </div>

        </div>
    </div>
    <!--button部分结束-->
</body>
<script>
    window.onload = () => {

        var login = document.getElementById('login');
        var esc = document.getElementById('esc');

        esc.onclick = () => {

            login.innerHTML = '请登录';

        }

        login.onclick = () => {

            login.innerHTML = '欢迎回来:　蛮吉';

        }


    }
</script>

</html>