<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.book.mapper.BookMapper">
    <select id="getAllBook" resultType="BookInfo">
        select * from book_info
    </select>

    <select id="getBookId" parameterType="String" resultType="BookInfo">
        select * from book_info where id=#{id}
    </select>

    <insert id="addBook" parameterType="String">
        insert into book_info values (#{id},#{bname},#{author},#{img},#{desc},#{type},#{state},#{ticket},#{score});
    </insert>

    <insert id="addBookContent" parameterType="String">
        insert into book_content values (#{book_id},#{tid},#{bname},#{title},#{content},#{price});
    </insert>


<select id="getTitle" resultType="BookContent" parameterType="String">
    select c.title,c.tid,c.book_id,c.price from book_content c,book_info i where c.book_id=#{bid} and i.id=#{bid};
</select>


<select id="getContent" resultType="BookContent" parameterType="String">
    select content,title,bname,tid,book_id,price from book_content where book_id=#{bid} and tid=#{tid}

</select>

<select id="getContentPrice" parameterType="String" resultType="double">
    select price from book_content where book_id=#{bid} and tid=#{tid}
</select>

<select id="getDescAllBook" resultType="BookInfo">
    select * from book_info order by ticket desc;
</select>

<select id="getDescTypeBook" resultType="BookInfo" parameterType="String">
    select * from book_info where type=#{type} order by ticket desc;
</select>

<select id="getScoreBook" parameterType="String" resultType="BookInfo">
    select * from book_info where type=#{type} order by score desc;
</select>

<select id="getPageBook" resultType="BookInfo" parameterType="map">
    select * from book_info where type=#{type} limit #{count},4
</select>

<select id="userGetBook" parameterType="String" resultType="String">
    select bid from user_collection_book where bid=#{bid} and uid=#{uid}

</select>

<insert id="userAddBook" parameterType="String">
    insert into user_collection_book values (#{uid},#{bid})
</insert>

<delete id="userDelBook" parameterType="String">
    delete from user_collection_book where uid=#{uid} and bid=#{bid}
</delete>


<select id="getCollectionCount" parameterType="String" resultType="int">
    select count(*) from user_collection_book where uid=#{uid}
</select>

<select id="getCollectionBook" parameterType="map" resultType="BookInfo">
     select bname,author,id,img from user_collection_book u,book_info b where u.bid=b.id and u.uid=#{uid} limit #{count},6;
</select>


<select id="getSearchBook" parameterType="String" resultType="BookInfo">
    select bname,author,id,img,ticket,description,state from book_info where bname like CONCAT('%',#{words},'%') or author like CONCAT('%',#{words},'%') or type like CONCAT('%',#{words},'%') or state like CONCAT('%',#{words},'%');
</select>



</mapper>

